---
---
<footer class="mt-6 flex justify-center">
  <div class="sign max-w-md p-4 flex flex-col items-center">
    <p class="text-white font-minecraft text-shadow text-lg mb-2">Created by Ostof</p>
    <a href="" target="_blank" rel="noopener noreferrer"
       class="text-white font-minecraft text-sm text-shadow visited:text-white active:text-white">
        GitHub (Coming Soon..)</a>
  </div>
</footer>

<style>
  .sign {
    background-image: var(--background-image-sign);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark-gray);
  }
</style>
